body {
    z-index: 3;
    overflow: hidden;
    background: linear-gradient(47deg, #fa2020, #ff6b6b, #fd3838);
    background-size: 600% 600%;
    animation: gradiente 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.caixa {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff5d;
    background: url(aliança.jpeg) no-repeat center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
footer {
    z-index: 3;
    position: absolute;
    bottom: -10px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
@keyframes gradiente {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }